#home {
    background-color: #3A3AE8;
    height: 1000px;
    position: relative;
    z-index: 4;
    top: -70px;
}

nav a {
    z-index: 10;
    position: relative;
    top: 10px;
    
    font-size: 25px;
}
#judul {
    font-size: 40px;
    font-weight: bold;
}
#home img {
    width: 40%;
    position: relative;
    top: 270px;
    left: -500px;
}
#home p {
    
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    padding-left: 30px;
}
#slogan {
    width: 50%;
    position: relative;
    float: right;
    top: 70px;
    border-left:10px  white solid;
    left: -30px;
}
#home a  {
    position: relative;
    left: 38%;
    top: 400px;
}
#home a button {
    background-color: white;
    color: blue;
    width: 20%;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold;
    
}

@media screen and (max-width: 576px){
    #judul {
        font-size: 30px;
        
    }
    #home img {
        left: -160px;
    }
    #home p {
        font-size: 15px;
    }
    #slogan {
        border-left: 5px white solid;
        left: -10px;
        top: 150px;
    }
    #home a button {
        font-size: 20px;
        width: 50%;

    }
    #home a {
        left: 25%;
        top: 500px;
    }
}

/* fitur unggulan */
#fitur {
    position: relative;
    z-index: 7;
    top: -280px;
    background-color: white;
    height: 700px;
}
 #update {
    position: relative;
    top: 120px;
}
#money {
    position: relative;
    top: 250px;
    background-color:  #3A3AE8;
    height: 700px;
}
.judul-fitur h1 {
    font-size: 40px;
    font-weight: bold;
    color :  #3A3AE8;
    padding-left: 10px;
}

.judul-fitur {
    width: 400px;
    height: 65px;
    position: relative;
    left: 100px;
    border-bottom: 7px #3A3AE8 solid;
}

#fitur img {
    width: 300px;
    position: relative;
    float: right;
    top: 100px;
}
.row p {
    font-size: 30px;
    position: relative;
    top: 100px;
    color: #3A3AE8;
    text-transform: capitalize;
}

@media screen and (max-width:576px){
    .judul-fitur h1 {
        font-size: 30px;
        width: 300px;
    }
    #money .judul-fitur h1 {
        font-size: 30px;
        width: 300px;
        top: 100px;
        position: relative;
        
    }
    .judul-fitur {
        left: 0px;
        width: 100%;
        top: -70px;
        border-bottom: 5px #3A3AE8 solid;
    }

    #fitur img {
        width: 150px;
    }
    #money img {
        width: 150px;
        left: 20px;
        position: relative;
    }
    #money .row p {
       top:50px;
       position: relative; 
    }
    .row p {
        font-size: 20px;
        top: -40px;
        
    }
    
    #money {
        top: 50px;
    }

}